[submodule "ELFIO"]
	path = ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
